<%= form_with model: @team do |team| %>
  <div class="form-row">
   <div class="form-group col-sm-6">
   	 <%= team.label :name %>
	 <%= team.text_field :name , class: 'form-control', placeholder: t('teams.form_name_placeholder') %>
   </div> 
  </div>
  <% if params[:action] == 'edit' %>
    <%= team.submit t('shared.update_resource', resource_name: t('shared.team')), class: 'btn my-primary-btn' %>	
  <% else %>
 	<%= team.submit t('shared.create_resource', resource_name: t('shared.team')), class: 'btn my-primary-btn' %>
  <% end %>
<% end %>