<%= form_with model: @team do |team| %>
 <div class="form-row">
	 <div class="form-group col-sm-6">
	 	<%= team.label :name %>
	 	<%= team.text_field :name ,class: 'form-control',placeholder: t('teams.form_name_placeholder') %>
	 </div> 
</div>
 <% if params[:action] == 'edit' %>
 	<%= team.submit t('teams.update_team'), class: 'btn btn-primary' %>	
 <%else%>
 	<%= team.submit t('teams.create_team'), class: 'btn btn-primary' %>	
 <% end %>
<%end%>