<div class ='container'>
	<h1 align= 'center'>All Teams</h1>
	<% @teams.each do |team|%>
	<div class="card">
	  <h5 class="card-header"><%=team.name%></h5>
	  <div class="card-body">  
	    <%= link_to 'Delete', remove_team_path(team) ,class: 'btn btn-danger'%> | 
	     <%= link_to 'Edit', edit_team_path(team),{class: 'btn btn-success',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#my_id_model_window'}%> |
	     <%= link_to 'Show', team_path(team), class: 'btn btn-success'%>
	  </div>
	</div>
	<br>
	<%end%>
	<%= link_to 'Add New Team',new_team_path,{class: 'btn btn-success',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#my_id_model_window'}  %>
</div>
<div id = "my_id_model_window" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
	</div>
  </div>
</div>
