<div class="d-flex flex-column">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h2 class="h3"><%= t('teams.all_teams')%></h2>
      <% if can? :create, Team %>
        <%= link_to t('teams.add_team'), new_team_path,{class: 'btn my-primary-btn',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#model_window'}  %>
      <% end %>
    </div>
    <% if @teams.empty? %>
      <p> <%= t('teams.no_team_to_show') %></p>
    <% else %>
      <table class="table text-center">
        <thead class="thead-light">
          <tr>
            <th><%= t('shared.sq_num_field') %></th>
            <th><%= t('shared.name_field') %></th>
            <th><%= t('shared.users_field') %></th>
            <th><%= t('shared.created_field') %></th>
            <th><%= t('shared.actions_field') %></th>
          </tr>
        </thead>
        <tbody>
          <% @teams.each.with_index(1) do |team,index|%>
            <tr>
              <td><%= index %></td>
              <td><%=team.name%></td>
              <td><%= team.users.count%></td>
              <td><%= time_ago_in_words(team.created_at) %> <%= t('shared.ago') %></td>
              <td>
                <% if can? [:update, :destroy], team %>
                  <%= link_to t('shared.delete'), team_path(team),method: :delete ,class: 'btn btn-danger'%>
                  <%= link_to t('shared.edit'), edit_team_path(team),{class: 'btn my-primary-btn',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#model_window'}%>
                <% end %>
                <%= link_to t('shared.show'), team_path(team), class: 'btn my-primary-btn'%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
    <div id = "model_window" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>
</div>