<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h3 mb-0 text-gray-800"><%= t('teams.all_teams')%></h2>
        <%= link_to t('teams.add_team'), new_team_path,{class: 'btn btn-success',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#my_id_model_window'}  %>
      </div>
      <% if @teams.empty? %>
		<p> No Team to show...</p>
	  <% else %>
		<% @teams.each do |team|%>
		<div class="row">
        	<div class="col-xl-4 col-md-6 mb-4">
				<div class="card">
				  <h5 class="card-header"><%=team.name%></h5>
				  <div class="card-body">  
				    <%= link_to t('shared.delete'), team_path(team),method: :delete ,class: 'btn btn-danger'%> | 
				     <%= link_to t('shared.edit'), edit_team_path(team),{class: 'btn btn-success',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#my_id_model_window'}%> |
				     <%= link_to t('shared.show'), team_path(team), class: 'btn btn-success'%>
				  </div>
				</div>
			</div>
		</div>
		<%end%>		
	  <% end %>
	  <div id = "my_id_model_window" class="modal fade" tabindex="-1" role="dialog">
  			<div class="modal-dialog modal-dialog-centered" role="document">
    			<div class="modal-content">
				</div>
		  </div>
		</div>
    </div>
  </div>
 </div>
</div>