<div class="row">
  <div class="col-sm-8 offset-sm-1">
    <div id="issue" class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @team.name%></h5>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted">Created : <%= time_ago_in_words(@team.created_at) %> ago</h6>  
        <hr>

        <div class="row align-content-center">
          <div class="col-xl-6">
          </div>
          <div class="col-xl-6">
            <% if can? :destroy, @team %>
                <%= link_to t('shared.delete'), team_path(@team), method: :delete, data: { confirm: t('shared.deletion_confirmation_message', resource: Team.model_name.human.downcase) }, class: 'btn btn-outline-danger float-right ml-2 my-1' %>
            <% end %>
            <% if can? :update, @team %>
                <%= link_to t('shared.edit'), edit_team_path(@team), {class: 'btn btn-outline-info card-button float-right ml-2 my-1',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#model_window'} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <% if can? :new_user_for_team, @team %>
      <%= link_to t('teams.add_user'), new_user_for_team_team_path,{class: 'btn my-primary-btn',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#model_add_member'}  %>
    <% end %>
  </div>
</div>
<br> 

<div class="row">
  <div class="col-md-8 offset-md-1">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <span class="nav-link active"><%= t('teams.users') %></span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-1">
      <%= render 'users/index_table', users: @team.users, team: @team %>
  </div>
</div>
<div id = "model_add_member" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div id = "model_window" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>