<div class="container">
  <div class='form-group'>
    <%= form_for @invite , url: invites_path do |f| %>
        <%= f.hidden_field :sender_id, value: current_user.id %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', required: true %><br>
        <div class="search-box">
          <%= f.select :role, options_for_select([User::ROLES[0], User::ROLES[1]]) %><br /><br />
        </div>
        <%= f.submit t('users.send_invite'), class: 'btn btn-info' %>
    <% end %>
  </div>
</div>