<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
<!-- my data -->
<div class="row">
  <div class="col-md-6 offset-md-3 custom-card">
      <%= render 'devise/shared/error_messages', resource: resource %>
    <div class="registration-form">
      <div class="p-t-15 m-r-10">
        <div class="col-11 offset-sm-1">
          <div class="row no-gutters d-flex justify-content-between">
            <div class="d-flex align-items-end col-sm-5">
              <div class="label-area">
                <i class="fab fa-stack-overflow fa-2x text-info"></i>
                <span class='form-app-name'><%= t('shared.app_name').upcase %></span>
              </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-center">
              <span class="text-dark-heading"><%= t('users.resend_confirmation_instructions') %></span>
            </div>
          </div>

          <div class="row no-gutters d-flex justify-content-end">
            <div class="col-sm-7">
              <div id="user_name_errors">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-t-15 m-r-10">
        <div class="col-11 offset-sm-1">
          <div class="row no-gutters d-flex justify-content-between">
            <div class="d-flex align-items-end col-sm-4">
              <div class="label-area">
                <%= f.label :email %>
              </div>
            </div>
            <div class="col-sm-7 d-flex justify-content-end">
              <%= f.email_field :email, autofocus: true, autocomplete: t('users.email'), value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-input-area', required: true  %>
            </div>
          </div>

          <div class="row no-gutters d-flex justify-content-end">
            <div class="col-sm-7">
              <div id="email_errors">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-t-15 m-r-10">
        <div class="col-sm-11 offset-sm-1 d-flex justify-content-center">
          <%= f.submit t('users.resend_confirmation_instructions'), class: 'my-primary-btn form-submit-btn' %>
        </div>
      </div>
    </div>
    <br>
    <div class="p-t-15 m-r-10">
      <div class="col-11 offset-sm-1">
        <div class="row no-gutters d-flex justify-content-between">
          <div class="d-flex align-items-end col-sm-12">
            <div class="label-area">
              <%= render 'devise/shared/links' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
