<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: t(:new_password) %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Password" %>
  </div>

  <div class="field">
    <%= f.fields_for :company, Company.new do |o| %>
      <%= o.label :company_name %><br />
      <%= o.text_field :name%>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit t('users.sign_up') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
