<div id="comment_inner_<%= comment.id %>" class="card-body" style="border-left: 4px solid red;">
  <h6 class="card-subtitle mb-2 text-muted">
    <%= comment.user.email %>
    <span class="float-right">
      <%= t('shared.time_ago', time_ago: time_ago_in_words(comment.created_at)) %>
      <% if comment.created_at != comment.updated_at %>
      (<%= t('shared.updated_time_ago', time_ago: time_ago_in_words(comment.updated_at)) %>)
      <% end %>
    </span>   
  </h6>
  <p class="card-text"><%= comment.body %></p>
  <% if can? :update, comment %>
  <%= link_to t('shared.edit'), edit_comment_path(comment), remote: true, class: 'btn btn-warning card-button' %>
  <% end %>
  <% if can? :destroy, comment %>
  <%= link_to t('shared.delete'), comment_path(comment), method: :delete, data: { confirm: t('shared.deletion_confirmation_message') }, class: 'btn btn-danger card-button' %>
  <% end %>
</div>
