<%= form_with model: [resource, comment] do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <%= form.label t('comments.comment_form_label'), for: :body %>
      </div>
      <div class="card-text">
        <%= render 'layouts/errors', resource: comment %>
        <%= form.text_area :body, class: 'form-control' %>
      </div>
      <%= form.submit(t('shared.create_model', model: Comment.model_name.human), class: 'btn btn-info mt-4') %>
    </div>
  </div>
<% end %>
