<%= render 'layouts/errors', resource: comment %>
<%= form_with model: comment, url: { action: "update" } do |form| %>
<div class="form-group">
  <%= form.label 'Edit your comment', for: :body %>
  <%= form.text_area :body, class: 'form-control' %>
</div>
<%= form.submit 'Update Comment', class: 'btn btn-primary' %>
<% end %>