<div class="search-page-heading">Search Results for "<%= @query %>"</div>
  
<div class="container">
  <% if @users.present? %>
    <div class="row my-4">
      <h4>Users</h4>
      <div class="col-lg-12">
        <% @users.each do |user| %>
          <div class="card my-2">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-sm-2 search-result-tag user-tag">
                  <%= User.model_name.human %>
                </div>
                <div class="col-sm-10 search-result-body">
                  <p class="card-title"><%= user.sequence_num %> - <%= link_to highlight("#{user.name}", @query_regex), user_path(user) %></p>
                  <small class="card-subtitle text-muted"><%= highlight(user.email, @query_regex) %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @projects.present? %>
    <div class="row my-4">
      <h4>Projects</h4>
      <div class="col-lg-12">
        <% @projects.each do |project| %>
          <div class="card my-2">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-sm-2 search-result-tag project-tag">
                  <%= Project.model_name.human %>
                </div>
                <div class="col-sm-10 search-result-body">
                  <p class="card-title"><%= project.sequence_num %> - <%== link_to highlight("#{project.name}", @query_regex), project_path(project.sequence_num) %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @issues.present? %>
    <div class="row my-4">
      <h4>Issues</h4>
      <div class="col-lg-12">
        <% @issues.each do |issue| %>
          <div class="card my-2">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-sm-2 search-result-tag issue-tag">
                  <%= Issue.model_name.human %>
                </div>
                <div class="col-sm-10 search-result-body">
                  <p class="card-title"><%= issue.id %> - <%== link_to highlight(issue.title, @query_regex), project_issue_path(issue.project.sequence_num, issue.id) %></p>
                  <%= render 'issues/show_badges', status: issue.status, priority: issue.priority, issue_type: issue.issue_type %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>