<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th><%= t('shared.sq_num_field', model: Issue.model_name.human) %></th>
        <th><%= Issue.human_attribute_name('title') %></th>
        <% if params[:controller].eql? 'issues' %>
          <th>
            <%= Project.model_name.human %>
          </th>
        <% end %>
        <th><%= Issue.human_attribute_name('description') %></th>
        <th><%= Issue.human_attribute_name('status') %></th>
        <th><%= Issue.human_attribute_name('priority') %></th>
        <th><%= Issue.human_attribute_name('issue_type') %></th>
        <th>
          <% if params[:controller].eql? 'issues'%>
            <%= t('shared.index_views.actions') %>
          <% end %>
          <% if params[:controller].eql? 'projects' %>
            <% if can? :create, Issue %>
              <%= link_to t('projects.add_issue'), new_project_issue_path(@project), class: 'btn my-primary-btn' %></th>
            <% end %>
          <% end %>
          </th>
      </tr>
    </thead>
    <tbody>
      <% issues.each do |issue| %>
        <tr>
          <th><%= issue.id %></th>
          <th>
            <%== "#{truncate(issue.title)} ( #{link_to "##{issue.id}", project_issue_path(issue.project.sequence_num, issue.id)} )" %>
          </th>
          <% if params[:controller].eql? 'issues' %>
            <th>
              <%== "#{truncate(issue.project.name)} ( #{link_to "##{issue.project.sequence_num}", project_path(issue.project.sequence_num)} )" %>
            </th>
          <% end %>
          <th><%= issue.description.present? ? truncate(issue.description) : t('shared.index_views.dashes') %></th>
          <th><%= Issue.human_enum_name(:status, issue.status) %></th>
          <th><%= Issue.human_enum_name(:priority, issue.priority) %></th>
          <th><%= Issue.human_enum_name(:issue_type, issue.issue_type) %></th>
          <th>
            <%= link_to '<i class="fas fa-eye"></i>'.html_safe, project_issue_path(issue.project.sequence_num, issue.id), class: 'btn btn-sm btn-outline-info card-button mr-2'  %>
            <% if params[:controller].eql? 'issues' %>
              <% if can? :update, issue %>
                <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_project_issue_path(issue.project.sequence_num, issue.id), class: 'btn btn-outline-info btn-sm card-button mr-2' %>
              <% end %>
              <% if can? :destroy, issue %>
                <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, project_issue_path(issue.project.sequence_num, issue.id), remote: true, method: :delete, data: { confirm: t('shared.deletion_confirmation_message', resource: Issue.model_name.human.downcase) }, class: 'btn btn-sm btn-outline-danger card-button' %>
              <% end %>
            <% end %>
            <% if params[:controller].eql? 'projects' %>
              <% if can? [:destroy, :update], issue %>                    
                <%= link_to edit_project_issue_path(@project, issue), class: 'btn btn-outline-info btn-sm card-button mr-2' do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
                <%= link_to project_issue_path(issue.project, issue), method: :delete, data: { confirm: t('shared.deletion_confirmation_message', resource: t('shared.issue')) }, class: 'btn btn-sm btn-outline-danger card-button' do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
            <% end %>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
<%== pagy_bootstrap_nav(pagy) %>