<%= render 'layouts/errors', resource: issue %>
<div class='form-group'>
	<%= form.label :title %>
	<%= form.text_field :title, class: 'form-control' %>
</div>
<div class='form-group'>
	<%= form.label :description %>
	<%= form.text_area :description, class: 'form-control' %>
</div>
<%# Here it is ensured that the assignee field can be accessed by the creator and anyone who has access to the form and is not the assignee %>
<% if can? :change_assignee, form.object %>
<div class='form-group'>
	<%= form.label :assignee %>
	<%= form.select(:assignee_id, options_for_select(valid_assignees.collect { |key, _| [key.email, key.id] }, selected: form.object.assignee_id), {}, {class: 'form-control'}) %>
</div>
<% end %>
<div class='form-group'>
	<%= form.label :status %>
	<%= form.select(:status, options_for_select(select_options_for_statuses, selected: form.object.status), {}, {class: 'form-control'}) %>
</div>
<div class='form-group'>
	<%= form.label :priority %>
	<%= form.select(:priority, options_for_select(select_options_for_priorities, selected: form.object.priority), {}, {class: 'form-control'}) %>
</div>
<div class='form-group'>
	<%= form.label :issue_type %>
	<%= form.select(:issue_type, options_for_select(select_options_for_issue_types, selected: form.object.issue_type), {}, {class: 'form-control'}) %>
</div>
