<span class="badge badge-<%= bootstrap_color_string_for_status(status) %>"><%= status.humanize %></span>
<span class="badge badge-<%= bootstrap_color_string_for_priority(priority) %>"><%= priority.humanize %></span>
<span class="badge badge-<%= bootstrap_color_string_for_issue_type(issue_type) %>"><%= issue_type.humanize %></span>