<span class="badge badge-<%= bootstrap_color_string_for_status(status) %>"><%= Issue.human_enum_name(:status, status) %></span>
<span class="badge badge-<%= bootstrap_color_string_for_priority(priority) %>"><%= Issue.human_enum_name(:priority, priority) %></span>
<span class="badge badge-<%= bootstrap_color_string_for_issue_type(issue_type) %>"><%= Issue.human_enum_name(:issue_type, issue_type) %></span>