<h1 class="mb-4"><%= t 'issues.edit_form.title', issue_name: @issue.title %></h1>
<h5><%= "#{Project.model_name.human}: #{@project.name}"%></h5>

<%= form_for [@project, @issue], url: { action: "update" } do |f| %>
  <%= render partial: 'issue_form_internal', locals: { issue: @issue, valid_assignees: @valid_assignees, form: f } %>
  <%= submit_tag t('shared.update'), class: 'btn btn-primary' %>
<% end %>