<h1>Editing Issue '<%= @issue.title %>'</h1>
<h5>Issue for project '<%= @project.name %>'</h5>

<%= form_for [@project, @issue], url: { action: "update" } do |f| %>
	<%= render partial: 'issue_form_internal', locals: { issue: @issue, valid_assignees: @valid_assignees,form: f } %>
	<%= submit_tag "Update", class: 'btn btn-primary' %>
<% end %>