<% if users.empty? %>
  <p> <%= t('users.no_user_to_show') %></p>
<% else %>
  <br><br>
  <table class="table text-center">
    <thead class="thead-light">
      <tr>
        <th><%= t(('shared.sq_num_field'), model: t('shared.user')) %></th>
        <th><%= t('shared.name_field') %></th>
        <th><%= t('users.role').capitalize() %></th>
        <th><%= t('shared.created_field') %></th>
        <th><%= t('shared.actions_field') %></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user|%>
        <tr>
          <td><%= user.sequence_num %></td>
          <td><%=user.name%></td>
          <td><%= user.role%></td>
          <td><%= time_ago_in_words(user.created_at) %> <%= t('shared.ago') %></td>
          <td>
            <% if can? :destroy, user %>
              <%= link_to t('shared.delete'), user_path(user), method: :delete, class: 'btn btn-danger' %>
            <% end %>
            <% if can? :update, user %>
              <%= link_to t('shared.edit'), edit_user_path(user), class: 'btn my-primary-btn' %>
            <% end %>
            <%= link_to t('shared.show'),user_path(user), class: 'btn my-primary-btn' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>