<div class ='container'>
  <h1 class='h4 text-gray-900 mb-4'><%= t('users.edit') %></h1>

  <%= form_for(@user, url: { action: "update" }) do |f| %>
    <%= render 'devise/shared/error_messages', resource: @user %>

    <div class='form-group'>
      <%= f.label :name %><br />
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>

    <div class='form-group'>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: t('users.new_password'), class: 'form-control', required: true  %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> <%= t('users.character_minimum') %></em>
      <% end %>
    </div>

    <div class='form-group'>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: t('users.new_password'), class: 'form-control', required: true %>
    </div>

    <div class='actions'>
      <%= f.submit t('users.update'), class: 'btn btn-info' %>
    </div>
  <% end %>
</div>