<h1><%= t('shared.users') %></h1>
<% @users.each do |user| %>
    <div class="row">
        <div class="col-md-2">
            <label><%= user.name %></label>
        </div>
        <div class="col-md-3">
            <label><%= user.email %></label>
        </div>
        <div class="col-md-3">
            <label><%= user.role %></label>
        </div>
    </div>
    <br>
<% end %>
<br><br>
<div>
  <%= button_to t('shared.new_resource', resource_name: User), new_user_invitation_path, class: 'btn btn-info', method: :get %>
</div>
<br>
<%== pagy_bootstrap_nav(@pagy) %>
