<div class="d-flex flex-column">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h2 class="h3"><%= t('users.all_users')%></h2>
      <% if can? :create, User %>
      <%= link_to t('users.send_invite'), root_path,class: 'btn my-primary-btn' %>
      <% end %>
    </div>
  <div class="search-box">
    <%= form_tag(user_filters_path, method: :get,remote: true) do %>
      <%= select_tag :search, options_for_select([t('shared.all')]+User::ROLES) %>
      <%= submit_tag(t('shared.filter'), class: 'btn btn-sm my-primary-btn') %>
    <% end %>
  </div>
    <br>
    <div id="user_index_table">
      <%= render 'index_table', users: @users %>
    </div>
  </div>
</div>