<h1><%= t('shared.users') %></h1>
<% @users.each do |user| %>
    <div class="row">
        <div class="col-md-3">
          <div class="left-margin-class">
            <label><%= user.name %></label>
          </div>
        </div>
        <div class="col-md-3">
            <label><%= user.email %></label>
        </div>
        <div class="col-md-3">
            <label><%= user.role %></label>
        </div>
    </div>
    <br>
<% end %>
<br><br>
<div>
  <div class="left-margin-class">
    <%= button_to t('shared.new_resource', resource_name: t('shared.user')), new_user_invitation_path, class: 'btn btn-info', method: :get %>
  </div>
</div>
<br>
<div class="left-margin-class">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
