<div class="container">
  <h1><%= t('shared.users') %></h1>
    <div class="list-group">
      <% @users.each do |user| %>
            <div class="row">
              <a href="<%= 'users/' + user.sequence_num.to_s %>" class="list-group-item list-group-item-action">
                <span class="col-md-3">
                    <%= user.name %>
                </span>
                <span class="col-md-3">
                  <span class="badge badge-primary badge-pill float-right">
                    <%= user.email %>
                  </span>
                </span>
              </a>
            </div>
            <br>
      <% end %>
    </div>
  <br>
  <div class="left-margin-class">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>