<%= form_with model: @project do |project| %>
  <div class="form-row">
    <div class="form-group col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <%= project.label :name %>
        </div>
        <div class="col-sm-8">
          <%= project.text_field :name, class: 'form-control', placeholder: t('projects.form_name_placeholder') %>
        </div>
      </div>
	  </div> 
  </div> 
  <% if params[:action] == 'edit' %>
    <div class="form-row">
      <div class="col-sm-6">
      <%= project.submit t('shared.update_resource', resource_name: t('shared.project')), class: 'btn my-primary-btn' %>
      </div>
    </div>
  <% else %>
    <div class="form-row">
      <div class="form-group col-md-4">   
        <%= project.label :project_category %>
      </div>
      <div class="col-sm-8">
        <%= project.select(:project_category, Project::PROJECT_CATEGORIES, {}, class: 'form-control') %>
      </div>
    </div>
    <%= project.submit t('shared.create_resource', resource_name: t('shared.project')), class: 'btn my-primary-btn' %>	
  <% end %>
<% end %>