<%= form_with model: @project do |project| %>
 <div class="form-row">
	 <div class="form-group col-sm-6">
	 	<%= project.label :name %>
	 	<%= project.text_field :name ,class: 'form-control',placeholder: 'Enter Name here'%>
	 </div> 
</div>
 <div class="form-row">
    <div class="form-group col-md-4">   
      <%= project.label :project_category %>
      <%= project.select(:project_category, ['TEAM','INDIVIDUAL'], {},{:class => 'form-control'}) %>
    </div>
  </div>
 <% if params[:action] == 'edit' %>
 	<%= project.submit 'Update Project', class: 'btn btn-primary' %>	
 <%else%>
 	<%= project.submit 'Create Project', class: 'btn btn-primary' %>	
 <% end %>
<%end%>