<% if projects.empty? %>
  <p> <%= t('projects.no_project_to_show') %></p>
<% else %>
  <br><br>
  <table class="table text-center">
    <thead class="thead-light">
      <tr>
        <th><%= t(('shared.sq_num_field'), model: t('shared.project')) %></th>
        <th><%= t('shared.name_field') %></th>
        <th><%= t('shared.type_field') %></th>
        <th><%= t('shared.created_field') %></th>
        <th><%= t('shared.actions_field') %></th>
      </tr>
    </thead>
    <tbody>
      <% projects.each do |project|%>
        <tr>
          <td><%= project.sequence_num %></td>
          <td><%=project.name%></td>
          <td><%= project.project_category%></td>
          <td><%= time_ago_in_words(project.created_at) %> <%= t('shared.ago') %></td>
          <td>
            <% if can? [:destroy, :update], project %>
              <%= link_to t('shared.delete'), project_path(project), method: :delete, class: 'btn btn-danger' %>
              <%= link_to t('shared.edit'), edit_project_path(project), {class: 'btn my-primary-btn',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#create_project_modal'} %>
            <% end %>
            <%= link_to t('shared.show'),project_path(project), class: 'btn my-primary-btn' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>