<div class="modal-header">
  <h5 class="modal-title"><%= t('projects.add_user') %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>    
  </button>
</div>
<div class="modal-body">
  <% project_users = @project.available_users %>
  <% unless project_users.to_a.empty? %>
    <%= form_with model: @project, url: add_user_to_project_project_path do |f| %>
    <div class="form-row">
      <div class="form-group col-md-4">   
        <%= f.label t('projects.available_users') %>      
        <%= f.collection_select :user, project_users, :id, :name, {}, class: 'form-control' %>
      </div>
    </div>  
    <%= f.submit t('projects.add_user'), class: 'btn btn-primary' %>
    <% end %>
 <%else%>
  <p><%= t('projects.no_available_user') %></p>
 <%end%>
</div>