<div class="d-flex flex-column">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h2 class="h3"><%= t('projects.all_projects')%></h2>
      <% if can? :create, Project %>
      <%= link_to t('projects.new_project'),new_project_path,{class: 'btn my-primary-btn',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#create_project_modal'}%>
      <% end %>
    </div>
    <div class="search-box">
      <%= form_tag(project_filters_path, method: :get,remote: true) do %>
        <div class="row">
          <div class="col-xl-9 d-flex align-items-center">
            <%= select_tag :search, options_for_select([t('shared.all')]+Project::PROJECT_CATEGORIES) %>
            <%= submit_tag(t('shared.filter'), class: 'ml-3 btn btn-sm my-primary-btn') %>
          </div>
          <div class="col-xl-3">
            <div class='form-group my-1'>
              <%= text_field_tag :project_title, nil, placeholder: t('projects.form_search'),class: 'stretch' %>
            </div>
          </div>
        </div>
      <% end %>
    <div id="project_index_table">
      <%= render 'index_table', projects: @projects, pagy: @pagy %>
    </div>
    <div id="create_project_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
</div>