<div class="d-flex flex-column">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h2 class="h3"><%= t('projects.all_projects')%></h2>
      <% if can? :create, Project %>
      <%= link_to t('projects.new_project'),new_project_path,{class: 'btn my-primary-btn',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#create_project_modal'}%>
      <% end %>
    </div>
    <div class="search-box">
      <%= form_tag(project_filters_path, method: :get,remote: true) do %>
        <%= select_tag :search, options_for_select(["ALL"]+Project::PROJECT_CATEGORIES) %>
        <%= submit_tag('SEARCH', class: 'btn btn-sm my-primary-btn') %>
      <% end %>
    </div>
    <br>
    <div id="project_index_table">
      <%= render 'index_table' %>
    </div>
    <div id="create_project_modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
</div>