<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div id="issue" class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @project.name%></h5>
        <hr>
        <h6 class="card-subtitle mb-2 text-muted">Created : <%= time_ago_in_words(@project.created_at) %> ago</h6>  
        <hr>
        <p class="card-text"><%= "#{Project.model_name.human}: " %><%= @project.project_category%></p>

        <div class="row align-content-center">
          <div class="col-xl-6">
          </div>
          <div class="col-xl-6">
            <% if can? :destroy, @project %>
                <%= link_to t('shared.delete'), project_path(@project), method: :delete, data: { confirm: t('shared.deletion_confirmation_message', resource: Project.model_name.human.downcase) }, class: 'btn btn-outline-danger float-right ml-2 my-1' %>
            <% end %>
            <% if can? :update, @project %>
                <%= link_to t('shared.edit'), edit_project_path(@project), {class: 'btn btn-outline-info card-button float-right ml-2 my-1',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#create_project_modal'} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
      <%= link_to t('projects.issues'),'#',class: 'nav-link active',id: 'my-id-issue-link'%>    
      </li>
      <li class="nav-item">
      <%= link_to @project.team_project? ? t('home.project_categories_team') : t('shared.users') ,project_users_project_path(@project),class: 'nav-link',remote: true,id: 'my-id-member-link'%>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class = "my-custom-project-data-area">
      <div id="issues_list_table">
        <%= render 'issues_list',project_issues: @project_issues, pagy: @pagy, project: @project %>        
      </div>
    </div>
  </div>
</div>

<div id="create_project_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>