<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><%= @project.name%></h1>
        <p class="lead"><%= @project.project_category%></p>
        <h6>Created : <%= time_ago_in_words(@project.created_at) %> ago</h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <ul class="nav nav-tabs">
      <li class="nav-item">
      <%= link_to t('projects.issues'),'#',class: 'nav-link active',id: 'my-id-issue-link'%>    
      </li>
      <li class="nav-item">
      <%= link_to @project.team_project? ? t('home.project_categories_team') : t('shared.users') ,project_users_project_path(@project),class: 'nav-link',remote: true,id: 'my-id-member-link'%>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <div class = "my-custom-project-data-area">
      <% if @project_issues.any?%>
        <br>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th><%= t('issues.issue_title') %></th>
              <th><%= t('issues.issue_type') %></th>
              <th><%= t('issues.issue_priority') %></th>
              <th><%= t('issues.issue_assignee') %></th>
              <th><%= t('issues.issue_status') %></th>
              <th class="table-center-buttons">
                <% if can? :create, Issue %>
                  <%= link_to t('projects.add_issue'),new_project_issue_path(@project),class: 'btn my-primary-btn' %></th>
                <% end %>
            </tr>
          </thead>
          <tbody>
            <% @project_issues.each do |issue| %>
              <tr>
                <td><%= issue.title %></td>
                <td><%= issue.issue_type %></td>
                <td><%= issue.priority %></td>
                <td><%= issue.assignee&.name || t('issues.not_assigned') %></td>
                <td><%= issue.status %></td>
                <td class="text-center">
                  <% if can? [:destroy, :update], issue %>
                    <%= link_to t('shared.delete'), project_issue_path(issue.project, issue), method: :delete, data: { confirm: t('shared.deletion_confirmation_message', resource: t('shared.issue')) }, class: 'btn btn-sm btn-danger' %>
                    <%= link_to t('shared.edit'), edit_project_issue_path(@project, issue), class: 'btn btn-sm my-primary-btn ' %>
                  <% end %>
                  <%= link_to t('shared.show'), project_issue_path(@project, issue), class: 'btn btn-sm my-primary-btn ' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%== pagy_bootstrap_nav(@pagy) %>
      <% else %>
        <br>
        <h6>
          <%= t('projects.no_issue') %>
        </h6>
        <%= link_to t('projects.add_issue'),new_project_issue_path(@project), class: 'btn my-primary-btn' %>
      <% end %>
    </div>
  </div>
</div>