<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><%= @project.name%></h1>
        <p class="lead"><%= @project.project_category%></p>
        <h6>Created : <%= time_ago_in_words(@project.created_at) %> ago
          <% if can? [:destroy, :update], @project %>            
            <%= link_to project_path(@project), method: :delete, class: 'btn btn-sm btn-outline-danger card-button float-right' do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
            <%= link_to edit_project_path(@project), {class: 'btn btn-outline-info btn-sm card-button mx-2 float-right',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#create_project_modal'}  do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
          <% end %>
        </h6>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-1">
    <ul class="nav nav-tabs">
      <li class="nav-item">
      <%= link_to t('projects.issues'),'#',class: 'nav-link active',id: 'my-id-issue-link'%>    
      </li>
      <li class="nav-item">
      <%= link_to @project.team_project? ? t('home.project_categories_team') : t('shared.users') ,project_users_project_path(@project),class: 'nav-link',remote: true,id: 'my-id-member-link'%>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <div class = "my-custom-project-data-area">
      <div id="issues_list_table">
        <%= render 'issues_list',project_issues: @project_issues, pagy: @pagy, project: @project %>        
      </div>
    </div>
  </div>
</div>

<div id="create_project_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>