<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @project.name %></h1>
    <p class="lead"><%= @project.project_category %></p>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
  	<%= link_to t('projects.issues'), '#', class: 'nav-link active', id: 'my-id-issue-link' %>
  </li>
  <li class="nav-item">
    <%= link_to @project.project_category, project_users_project_path(@project), class: 'nav-link',remote: true,id: 'my-id-member-link'%>
  </li>
</ul>
<div class = "my-custom-project-data-area">
  <table class="table table-hover">
    <thead>
	  <tr>
	    <th scope="col">#</th>
	    <th scope="col">Description</th>
	    <th scope="col">Assiginee</th>
	    <th scope="col">Type</th>
	    <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col"><%= link_to t('projects.add_issue'), new_project_issue_path(@project), class: 'btn btn-primary' %></th>
	  </tr>
	</thead>
	<tbody>
	  <tr>	   
	  </tr>	    
	</tbody>
  </table>
</div>