<div class="d-flex flex-column">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800"><%= t('home.dashboard') %></h1>
    </div>

    <div class="row">
      <div class="col-xl-4 col-md-6 mb-4">
        <%= link_to projects_path do %>
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" ><%= t('home.total_projects') %></div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= current_user.get_project_count %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-project-diagram fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-xl-4 col-md-6 mb-4">
        <%= link_to teams_path do %>
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1"><%= t('home.total_teams') %></div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= current_user.get_team_count %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-users fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><%= t('home.watching_issues') %></div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">00</div>
              </div>
              <div class="col-auto">
                <i class="far fa-eye fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 mb-4"> 
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info"><%= t('home.project_categories') %></h6>
          </div>
          <div class="card-body">
            <% team_strength = get_team_percentage(current_user) %>
            <% individual_strength = 100 - team_strength %>
            <h4 class="small font-weight-bold"><%= t('home.project_categories_team') %> <span class="float-right"><%= team_strength %>%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-info" role="progressbar" style="width: <%= team_strength %>%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold"><%= t('home.project_categories_independent') %>  <span class="float-right"><%= individual_strength %>%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-warning" role="progressbar" style="width: <%= individual_strength %>%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <br><br><br><br>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mb-4">          
       <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info"><%= t('home.issues') %> </h6>
          </div>
          <div class="card-body">
            <h4 class="small font-weight-bold"><%= t('home.issues_open') %>  <span class="float-right">40%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold"><%= t('home.issues_inprogress') %>  <span class="float-right">60%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold"><%= t('home.issues_resolved') %>  <span class="float-right">80%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold"><%= t('home.issues_closed') %>  <span class="float-right">Complete!</span></h4>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>        
    </div>
  </div>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info"><%= t('home.issue_priority') %></h6>
          </div>
          <div class="card-body">
            <h4 class="small font-weight-bold"><%= t('home.issue_priority_high') %> <span class="float-right">40%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4 class="small font-weight-bold"><%= t('home.issue_priority_low') %> <span class="float-right">80%</span></h4>
            <div class="progress mb-4">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>