<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">    
    <div class="input-group">
      <%= link_to 'Workflow Engine', root_path, style: 'text-decoration: none; font-size: 20px; color: black;' %>
    </div>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
      <%= link_to 'Projects' ,projects_path, class: 'nav-link dropdown-toggle' %>
    </li>

    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
      <%= link_to 'Teams' ,teams_path, class: 'nav-link dropdown-toggle' %>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <% if user_signed_in? %>
      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>        
      </li>
      <div class="topbar-divider d-none d-sm-block"></div>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.name %></span>
          <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
        </a>
      </li> 
    <% else %>
      <li class="nav-item dropdown no-arrow">
        <%= link_to('Login', new_user_session_path, class: 'nav-link') %>  
      </li>
    <% end %> 

  </ul>
</nav>
<!-- End of Topbar -->
